<div class="container d-flex justify-content-center align-items-center flex-column h-75 w-50">

  <h1 class="display-5">Create Users</h1>
  <%= form_with model: @user, :html => {:class => "mt-3 w-100 d-flex flex-column align-items-center"}, :url => '/users/admin_create' do |form| %>

    <div class="w-100">
      <%= form.label :password %>
      <%= form.password_field :password, class:"form-control" %>
      <%= @user.errors.full_messages[1] %>
    </div>
    <div class="w-100 mt-3">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, class:"form-control" %>
      <%= @user.errors.full_messages[2] %>
    </div>

    <%= form.submit class: "btn btn-success w-25 mt-3" %>
  <% end %>
    <%= link_to '<Back to Dashboard', users_path, class: "mt-5 align-self-end"%>

</div>

