<h1 class="text-2xl">Hello, Admin</h1>
<h2 class="text-xl">There are currently <%= User.count - 1 %> users in the system</h2>
<br>
<%= button_to 'Log out', destroy_user_session_path, method: :delete %>
<br>
<%= link_to 'create user', users_admin_new_path%><br>
NEEDS UPROVAL<br>
<% if @users_not_approved.length === 0 %>
  <br>
  NOTHING TO APPROVED
  <br>
<% else %>
  <br>
  <% @users_not_approved.each do |user| %>
    <%= user.email %>
    <%= user.approved %>
    <%= link_to 'show user', user_path(user.id) %>
    <br>
  <% end %>
<% end %>
<br>
<br>
ALL USERS<br>
<% @users_approved.each do |user| %>
  <%= user.email %>
  <%= user.approved %>
  <%= link_to 'show user', user_path(user.id) %>
  <br>
<% end %>
<%= link_to 'admin dashboard', users_admin_path %>
