<div class="w-100 h-50 d-flex flex-column justify-content-evenly align-items-center">
  <h1 class="display-3 fw-bold lh-1 mb-3 text-warning fst-italic mt-3">Degen<span class="text-muted">Exchange</span></h1>
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-6 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="w-75 d-flex flex-column justify-content-center align-items-center w-100">
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Forgot your password?</p>

                      <%= form_for(resource, as: resource_name, url: password_path(resource_name), method: :post, :html => {:class => "w-50 d-flex flex-column justify-content-center align-items-center "}) do |f| %>
                      <div class="field w-100">
                          <%= f.label :email, class: "mb-2" %>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control mb-3" %>
                      </div>

                        <div class="actions">
                          <%= f.submit "Reset password by email", class: "btn btn-warning btn-lg text-white" %>
                        </div>
                      <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div>
