<div class="container">

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "row align-items-center g-lg-5 py-5"}) do |f| %>
  <div class="col-lg-7 text-center text-lg-start">
    <%= image_tag "Bitcoin_Monochromatic.png" %>
    <h1 class="display-4 fw-bold lh-1 mb-3">DegenExchange</h1>
    <p class="col-lg-10 fs-4">Buy, trade, and hold 1000+ stocks with the world’s most powerful exchange. Trading platform for all the apes.</p>
  </div>
  <div class="col-md-10 mx-auto col-lg-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light">
      <div class="form-floating mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"floatingInput", placeholder:"name@example.com"%>
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating mb-3">
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control", id:"floatingPassword", placeholder:"Password" %>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="checkbox mb-3">
        <label>
          <%= f.check_box :remember_me %> Remember me
        </label>
      </div>
      <%= f.submit "Log in",  class:"w-100 btn btn-lg btn-primary", type:"submit" %>
      <%= link_to "Forgot password?", new_user_password_path, method: :delete, class:"text-sm hover:underline" %>
      <hr class="my-4">
      <small class="text-muted">By clicking Sign in, you agree to the terms of use.</small>
    </form>
  </div>
<% end %>
</div>
