<div id="<%= dom_id transaction %>">
  <p>
    <strong>User:</strong>
    <%= transaction.user_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transaction.action %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= transaction.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>

</div>
